
@media screen and (max-width: 800px){
    /* - - - - -  HEADER - - - - -  */
    header {
        grid-template-columns: 1rem auto 360px auto;
    }
    header figure img {
        width: 80px;
        height: 80px;
    }
    header h1 {
        font-size: 3rem;
    }
    header section {
        grid-column: 3/4;
        grid-row: 4;
        display: flex;
        align-items: center;
        margin-bottom: 1em;
    }
    header nav {
        grid-column: 1/-2;
        grid-row: 2;
        font-size: 1.3rem;
        font-weight: bold;
        text-align: right;
        z-index: 10;
    }
    
    header nav button {
        display: inline;
        font-size: 1.5rem;
        width: 2rem;
    }
    header nav ul {
        display: none;
        
    }    
    header nav ul li {
        width: 100%;
        background-color: rgb(85, 17, 62);
    }
    header nav a { 
        padding: 0.45rem;
        margin: 0;
        width: 100%;
    }
    header nav a:hover {
        background-color: rgba(217, 77, 7, 0.955);
    }
    .showOff {
        display: none;
    }
    .showOn {
        display: block;
    }
    

    /* - - - - -  MAIN - - - - -  */
    main section.kinds {
        min-width: 500px;
    }
    main section.kinds article:nth-child(3) {
        display: grid;
        grid-template-columns: 1fr 1rem 1fr;
        margin: 1rem;
    }
    article.kind3 h3 {
        width: 100%;
    }
    article.kind3 h3,  article.kind3 p {
        grid-column: 3/4;
        margin: auto;
    }
    main section.kinds article img {
        width: 230px
    }
    article.kind3 img {
        grid-column: 1;
        grid-row: 1/3;
        width: 200px
    }
    main section.city article#weather {
        grid-column: 2/4;
        width: 350px;
        margin: auto;
    }
    main section.city article#cityInfo {
        grid-column: 2/4;
        grid-row: 2/3;        
    }
    main section.carlsbad {
        grid-template-columns: 1fr;
    }
    .picture {
        grid-row: 1/2;
    }
    main section.carlsbad article.picture img{
        width: 100%;
    }
    main section.carlsbad article.inofCity {
        grid-row: 2/3;
    }
    main section.carlsbad article.infoCity p {
        font-size: 1rem;
    }
    /* - - - - -  FOOTER - - - - -  */

    footer {
        grid-template-columns: 2rem 5fr 5fr 2rem;
        grid-template-rows: auto 1fr;
    }

    footer nav ul {
        grid-column: 3/5;
        margin: 0;
        flex-direction: row;
    }
    footer section.rights {
        grid-column: 1/-1;
    }
    footer section.rights p {
        margin: 5px 5px;
    }

    footer section.footer_logo {
        grid-area: 1/2/2/4;
        margin: 1rem;
        flex-direction: column;
    }
}