@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oxygen:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo:wght@800&display=swap');

:root {
    --primary-color: #151f38;
    --secondary-color: #dc4618;
    --accent1-color: #ffebb7;
    --accent2-color: #ad8e70;
    --variation-color: #FF9A39;
}
* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Oxygen', serif;
}
header, main, footer {
    width: 100%;
    border: dotted 1px;
}
header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    background-color: var(--primary-color);
    color:#fff;
    padding: 5px;
}
header img {
    width: 4rem;
    height: 4rem;
    margin: 0 0.5rem;
    border-radius: 50%; 
    float: left;   
}
header h1 {
    font-size: 1.2rem;
    padding: 0.5em 0 0 0;
    font-family: 'Nanum Myeongjo', serif;  
}
header h2 {
    font-size: 0.8rem;
    font-family: 'Nanum Myeongjo', serif;  
}
header ul {
    display: none;
    list-style-type: none;
}
header button {
    padding: 0 0.3rem;
    margin: 0.5rem 2vw;
    font-size: 1rem;
    /* background: transparent; */
}

.webname {
     /* display: none; MENU */
    width: 50%;     
}

header ul.open {
    display: block;

}
header nav.wideNav {
    width: 100%;
}
header nav {
    /* display: block; */
    text-align: right;
  /* MENU */
}
header ul li{
    width: 100%;
}       
header ul a{
    display: block;
    text-decoration: none;
    color: #fff;
    font-family: 'Oxygen', sans-serif;
    font-size: 1rem;
    padding: 0.5rem 0rem;
    border-top: solid 1px #fff;
    width:100%;
    text-align: center;
}
.active {
    background-color: #964C08;
}
header ul a:hover {
    background-color: #F4AC6B;
    color:#151f38;
    font-weight: bold;
}
.dayInfo {
    /*  */  /* MENU */
    width:100%;
    background: #F4AC6B;
    padding: 0.3rem;
    margin-top: 0.5em;
    text-align: center;
    color: var(--primary-color);
}

/* https://www.w3schools.com/howto/howto_css_social_media_buttons.asp */
.fa {
    padding: 0.5rem;
    font-size: 1rem;
    width: auto;
    text-align: center;
    text-decoration: none;
    margin: 1px;
    border-radius: 5px;
}
.fa:hover {
    opacity: 0.7;
}
.fa-facebook {background: #3B5998;color: white;padding: 0.5rem 0.7rem;}
.fa-twitter {
background: #55ACEE;
color: white;
}
.fa-youtube {
background: #bb0000;
color: white;
}
.fa-instagram {
background: #125688;
color: white;
}
.orderHeader {
    order: unset;
}
.showOff {
    display: none;
}

footer {
    text-align: center;
    background-color: var(--primary-color);
    color: #fff;
    padding: 2rem 1rem;
}
.footerLogo {
    width: 120px;
    border-radius: 50%;
}
.footerSite article {
    margin: 1em 0;
}
.footerSiteName {
    font-family: 'Nanum Myeongjo', serif;
    font-weight: bolder;
}
.footerBase {
    border-top: #ffffff65 1px solid;
    font-size: 0.8em;
}
